# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
/frontend/dist/
/frontend/dist-ssr/

# Local databases and logs
/backend/database.sqlite
/backend/uploads/
*.log
npm-debug.log*

# Local environment configs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
